* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
}

header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;  
}

.header-group {
  display: flex;
  justify-content: space-between;
  font-size: 0;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff;
}

.logo {
  height: 70px;
}

.nav {
  display: flex;
}

.nav-list {
  width: 120px;
  line-height: 70px;
  color: #FAFAFA;
  padding: 0 30px;
  list-style: none;
  font-size: 16px;
}

#mv {
  width: 100%;
  height: 650px;
  text-align: center;
  color: #fff;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.mv-title{
  font-size: 64px;
  padding-top: 200px;
  font-family: 'Raleway', sans-serif;
}

.mv-text {
  font-size: 20px;
  padding-top: 10px;
}
